<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <!-- Homepage Slider -->
    <section id="slider">
      <div class="block">
        <h1>This is me on the Internet.</h1>
        <p>( Now you know that I exist.)</p>
      </div>
      <div class="block">
        <a href="#mike"><img src="{{site.baseurl}}/img/arrow-down-translucent.png" alt="arrow"></a>
      </div>
    </section>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
