<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <!-- Four containers for setting the background images -->
    <div class="parallax">
      <img src="{{ site.baseurl }}img/slider-bg-home.JPG" alt="Frank Church Wilderness">
      <div class="bg__foo">foo</div>
      <div class="bg__bar">bar</div>
      <div class="bg__baz">baz</div>
      <div class="bg__bazz">bazz</div>
    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
